<form action="/urls" method="POST" style="display: inline;">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Input URL here" name="name">
    <button class="btn btn-success" type="submit">Shorten</button>
  </div>
</form>